/* App.css */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.step.active {
  background-color: #007bff;
  color: white;
}

.step-connector {
  width: 80px;
  height: 2px;
  background-color: #ddd;
  margin: 0 -5px;
}

.step.active + .step-connector,
.step.active + .step-connector + .step.active + .step-connector,
.step.active
  + .step-connector
  + .step.active
  + .step-connector
  + .step.active
  + .step-connector {
  background-color: #007bff;
}

.date_picker {
  background-color: #0a0a0a;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  border: 1px solid #262626;
  color-scheme: dark;
}

.form_heading {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: left;
}

.dummy_box {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a3a3a3;
  border: 3px dashed #262626;
}
.ddd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
