/* App.css */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.step.active {
  background-color: #007bff;
  color: white;
}

.step-connector {
  width: 80px;
  height: 2px;
  background-color: #ddd;
  margin: 0 -5px;
}

.step.active + .step-connector,
.step.active + .step-connector + .step.active + .step-connector,
.step.active
  + .step-connector
  + .step.active
  + .step-connector
  + .step.active
  + .step-connector {
  background-color: #007bff;
}

/* @media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }

  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
  }
} */
.form_container {
  /* max-width: 500px; */
}

.date_picker {
  background-color: #0a0a0a;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  outline: #262626;
  color: #a3a3a3;
  color-scheme: dark;
}

.form_heading {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: left;
}

.dummy_box {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a3a3a3;
}
